body {
   background: #999 !important;
}

.navbar-brand {
   color: #0a0 !important;
   transition: all 1.5s;
}

.navbar-brand:hover {
   text-shadow: 0 3px 23px #fff;
   color: #000 !important;
}

.darkNav {
   background: url("../img/sprite.jpg") 0 -206px repeat-x !important;
}

#footer {
   background: #000;
   padding: 10px 0;
   border-bottom: 1px solid #ddd;
   border-top: 1px solid #ddd;
}

#footer ul {
   list-style: none;
   margin: 10px 0;
   padding: 0;
}

#footer li {
   display: block;
   float: left;
   color: #fff;
   font-family: monospace, sans-serif;
}

#footer a {
   color: #afa;
   padding: 5px;
}

#footer strong {
   padding-right: 10px;
}

#footer p, #footer p a {
   color: #006505;
}

.vert20 {
   margin-top: 20px;
}

.vert50 {
   margin-top: 50px;
}

.vert70 {
   margin-top: 70px;
}

#billboard {
   background: url("../img/sprite.jpg") 0 -256px repeat-x;
}

#billboard .block {
   height: 233px;
   background: url("../img/face-billboard.jpg") right center no-repeat;
   padding: 20px 25% 0 20px;
   overflow: auto;
}

#billboard .block p {
   color: #fff;
   font-size: 2em;
   font-family: monospace;
}

.meBlogTile {
  background: #fff;
  padding: 0;
  margin: 0;
}

.meBlogTile img {
  width: 100%;
  height: auto;
}

.meBlogTileBody {
  margin: 20px 20px 0;
}


.grid-white-card li .gridCard {
  background: #fff;
  padding: 10px;
  border-bottom: 2px solid #777;
}

.sideModTop {
  border: 1px solid #aaa;
  margin: 0 0 10px;
  box-shadow: inset 0 0 8px #777;
  background: #888;
}

.sideModTop h2 {
  margin: 0;
  padding: 10px;
  background: #777;
}

.sideModTop ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sideModTop li {
  padding: 5px;
  color: #333
}

.sideModTop li a {
  color: #dadada;
  padding: 0 5px 5px;
  margin: 0;
  display: block;
}

.label a {
  display: inherit !important;
  color: inherit !important;
}